.card, .card-img{
    border-radius: 1rem !important; 
}

.five-image{
    width: 50%;
}

.custom-shadow {
    box-shadow: 20px 20px 0 rgba(103,171,184, 1); 
}

.custom-shadow-plan{
    box-shadow: 10px 10px 0 rgb(241, 91, 64); 
}

